
.calculator {
    width: 350px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    height: 350px;
  }
  
  .calculator form input {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: aliceblue;
    height: 50px;
    border-radius: 5px;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    letter-spacing: 5px;
    font-weight: bolder;
   
  }
  
  .keypad button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: skyblue;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .keypad button.highlight {
    background-color: skyblue;
  }
  
  .keypad button:hover {
    background-color: #e6e6e6;
  }
  
  #equals {
    background-color: #ff9800;
    color: #fff;
    grid-column: 1/4;
    grid-row: 1;
  }
  #equals:hover {
    background-color: #e08b00;

  }
  